root = true

[*]
charset = utf-8
indent_style = tab
indent_size = 4
tab_width = 4
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = false
max_line_length = 80
quote_type = single

[{*.ddl,*.sql}]
indent_style = space
indent_size = 2

[*.{less,css,scss,sass,stylus}]
indent_style = space
indent_size = 2
tab_width = 2

[*.{coffee,js},typescript]

[*.gsp]

[gherkin]

[*.groovy]

[*.haml]

[*.html]

[*.java]

[*.json]

[*.jsp]

[*.jspx]

[xml]
